.program {
  background-color: $main-backcolor;
  padding: 50px 0;
}

.program-title {
  color: $three-text-color;
  text-align: center;
  margin-bottom: 36px;
}

.program-list {
  position: relative;
  border-left: 2px solid #546264;
  padding: 0 0 132px 30px;
  margin-left: 40px;
  width: 100%;
}

.program-list__item {
  position: relative;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 29px;
  color: $three-text-color;
  font-weight: 700;
  width: 214px;
  margin-bottom: 20px;

}

.program-list__item::before {
  position: absolute;
  content: "";
  display: block;
  background: $accent-backcolor;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 16px;
  left: -30px;
  transform: translate(-5px, -5px);

}

.category-list {
  margin-bottom: 26px;
}

.category-list__item {
  margin-top: 14px;
}

.category-list__item:not(:last-child) {
  margin-bottom: 14px;
}

.category-list__item--description {
  position: relative;
  padding-left: 38px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 29px;
  color: $second-text-color;
  font-weight: 500;
  margin-bottom: 14px;
}


.category-list__item--description::before {
  position: absolute;
  display: block;
  content: "";
  width: 24px;
  height: 2px;
  background: $accent-backcolor;
  top: 15px;
  left: 0;
}

.category-list__item--span {
  opacity: 0;
}

.topic-list {
  margin-top: 20px;
  
}

.topic-list__item {
  color: $paragraph-text-color;
  @extend %text-small;
}

.topic-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.advantages-list {
  color: $main-text-color;
  padding-left: 28px;
  background-color: $second-backcolor;
  font-weight: 700;
  list-style-type: none;
  counter-reset: list; 
}

.program-list::after {
  position: absolute;
  display: block;
  content: "";
  width: 142px;
  height: 170px;
  background-image: url(../../images/program-images/class.jpg);
  bottom: 0;
  right: 20px;
}

.advantages-list__item::after {
  display: block;
  content: counter(0);
  counter-increment: 0;
}

 

