.solutions {
  padding-top: 165px;
  @media (min-width: 768px) {
    padding-top: 100px;
  }

  @media (min-width: 1280px) {
    padding-top: 165px;
  }

  @media (min-width: 1680px) {
    padding-top: 240px;
  }

  &-title {
    padding-top: 44px;
    padding-bottom: 32px;
    text-align: center;

    @media (min-width: 768px) {
      padding-top: 70px;
      padding-bottom: 36px;
      line-height: 33px;
    }

    @media (min-width: 1280px) {
      padding-top: 0px;
      padding-bottom: 42px;
      text-align: left;
      line-height: 62.54px;
    }
    @media (min-width: 1680px) {
      padding-bottom: 50px;
    }
  }
}

.solutions-list {
  padding-bottom: 50px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px 50px 40px;
  }

  @media (min-width: 1280px) {
    padding: 0px 0px 100px 0px;
  }

  @media (min-width: 1680px) {
    padding-bottom: 126px;
  }

  &__item {
    margin-bottom: 16px;
    padding: 30px 20px 44px 20px;
    text-align: center;
    box-shadow: 4px 7px 24px 8px rgba(29, 29, 27, 0.11);
    transition: all 500ms linear;
    
    @media (min-width: 768px) {
      margin-bottom: 20px;
      width: calc((100% - 20px * 2) / 2);
      
      &:nth-last-child(-n + 2) {
        margin-bottom: 0px;
      }
    }
    
    @media (min-width: 1280px) {
      width: calc((100% - 20px *2) / 3);
      padding-bottom: 32px;
      padding-top: 42px;

      &:nth-last-child(-n + 3) {
        margin-bottom: 0px;
      }
    }

    @media (min-width: 1680px) {
      width: calc((100% - 25px *2) / 3);
      // padding-bottom: 0 40px 54px 40px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    &:nth-child(1) .solutions-list__icon {
      height: 45px;
      width: 42px;
    }

    &:nth-child(2) .solutions-list__icon {
      height: 45px;
      width: 44px;
    }

    &:nth-child(3) .solutions-list__icon {
      height: 45px;
      width: 50px;
    }

    &:nth-child(4) .solutions-list__icon {
      height: 45px;
      width: 44px;
    }

    &:nth-child(5) .solutions-list__icon {
      height: 45px;
      width: 39px;
    }

    &:nth-child(6) .solutions-list__icon {
      height: 45px;
      width: 50px;
    }

    &:hover {
      background-color: $accent-backcolor;
    }

    &:hover .solutions-list__icon {
      fill: $second-backcolor;
    }

    &:hover .solutions-list__title::after {
      background-color: $second-backcolor;
    }

    &:hover .solutions-list__title {
      color: $second-backcolor;
    }
    
    &:hover .solutions-list__description {
      color: $second-backcolor;
    }
  }

  &__icon {
    fill: $accent-backcolor;
    transition: all 500ms linear;
  }

  &__title {
    color: #111517;
    padding-bottom: 18px;
    padding-top: 18px;
    transition: all 500ms linear;

    @media (min-width: 1280px) {
      width: 230px;
      margin: 0 auto;
      line-height: 29.17px;
      padding-bottom: 12px;
    }

    @media (min-width: 1280px) {
      width: 360px;
    }

    @media (min-width: 1680px) {
      padding-bottom: 18px;
    }

    &::after {
      @extend %line;
      margin: 0 auto;
      margin-top: 20px;
      transition: all 500ms linear;
    }
  }

  &__description {
    @extend %text-small;
    transition: all 500ms linear;
    color: $paragraph-text-color;

    @media (min-width: 1280px) {
      line-height: 31.25px;
      font-size: 15px;
    }

    @media (min-width: 1680px) {
      font-size: 19px;
      line-height: 31.25px;
    }
  }
}

@media (min-width: 1280px) {
  .helper {
    display: block;
  }
  
  .helper1680 {
    display: block;
  }
}
