$accent-backcolor: #FF6B07;
$main-backcolor: #111517;
$second-backcolor: #FFFFFF;
$paragraph-text-color: #858585;

$main-text-color: #18191D;
$second-text-color: #FF6B08;

$three-text-color: #FFFFFF;
$four-text-color: #B9B9B9;

$main-font-famaly: 'Montserrat',
sans-serif;
