.fire-logo {
 width: 15px;
 height: 22px;
}
.logotype {
 font-size: 15px;
 font-weight: 800;
 color: #000000;
 line-height: 1.2;
 
}
.logotype-sub {
 display: block;
}
.logotype-sub {
 padding-left: 1px;
 font-size: 6px;
 font-weight: 700;
 color: #000000;
 line-height: 1.2;
 text-transform: uppercase;
}

.logotype-orange {
 color: $second-text-color;
}