.section-title {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0.05em;

  @media (min-width: 768px) {
    font-size: 26px;
  }

  @media (min-width: 1280px) {
    font-size: 42px;
  }

  @media (min-width: 1680px) {
    font-size: 46px;
  }
}
