.text {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
  font-weight: 600;

  @media (min-width: 1280px) {
    font-size: 18px;
    line-height: 29px;
  }

  @media (min-width: 1680px) {
    font-size: 21px;
    line-height: 31px;
  }
}
